doctype html
html
  head
    meta(charset='UTF-8')
    title Login
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    link(rel='stylesheet', href='../stylesheets/UsernameStylesheet.css')

    link(rel='stylesheet', href='stylesheets/Password.css')

    link(rel='stylesheet', href='../stylesheets/Authenticator.css')


  body
    block content
