#microsoft{
    color: grey;

}
#signin{
    margin-top: 1rem;
    font-weight: bold ;
}
#password{
    margin-top: 2rem;
    width: 90%;
    border-width: 0 0 0.05rem 0;
    border-color: darkblue;
    margin-bottom: 5%;
    outline: none;
}
a{
    text-decoration: none;

}

#form{
    height: 100vh;

}
